.whiteboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.whiteboard {
  position: relative;
  flex: 1;
  min-height: calc(100vh - 2.25rem);
  border: 1px solid #000;
  overflow: hidden;
  // prevent pull-to-refresh and pinch-zoom on mobile
  overscroll-behavior: none;
  touch-action: pan-x pan-y;
}
