.sticky-drag-handle {
  min-width: 100%;
  min-height: 2rem;
  height: var(--total-sticky-handle-height);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.invisible-draggable-element {
  height: 0.1rem;
  position: absolute;
}
