.sticky-drag-handle {
  min-width: 100%;
  min-height: 2rem;
  height: var(--total-sticky-handle-height);
  width: 100%;
  background-color: color-mix(in srgb, currentColor 10%, transparent);
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  touch-action: none;

  &:hover {
    background-color: color-mix(in srgb, currentColor 20%, transparent);
  }
}
