.sticky-drag-handle {
  min-width: 100%;
  min-height: 2rem;
  height: var(--total-sticky-handle-height);
  width: 100%;
  background-color: color-mix(in srgb, currentColor 10%, transparent);
  display: flex;
  justify-content: flex-end;
  cursor: grab;
  touch-action: none;
  transition: background-color 0.15s ease;

  &:hover {
    background-color: color-mix(in srgb, currentColor 30%, transparent);
  }

  &:active {
    cursor: grabbing;
    background-color: color-mix(in srgb, currentColor 35%, transparent);
  }
}
