.sticky {
  --total-sticky-height: 20rem;
  --total-sticky-handle-height: 2rem;

  position: absolute;
  min-width: 20rem;
  min-height: var(--total-sticky-height);

  display: flex;
  flex-direction: column;

  border: 1px solid rgba(0, 0, 0, 0.1);
}
