.sticky {
  --total-sticky-height: 20rem;
  --total-sticky-handle-height: 2rem;

  position: absolute;
  min-width: 20rem;
  min-height: var(--total-sticky-height);

  display: flex;
  flex-direction: column;

  border: 1px solid rgba(0, 0, 0, 0.1);

  //   top: 20px;
  //   right: 20px;
  .sticky-handle {
    min-width: 100%;
    min-height: 2rem;
    height: var(--total-sticky-handle-height);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }

    .delete-sticky {
      font-size: 1.5rem;
    }
  }

  .sticky-content {
    flex: auto;
    height: 100%;
    width: 100%;
    min-height: calc(
      var(--total-sticky-height) - var(--total-sticky-handle-height)
    );

    text-wrap: wrap;

    &:first-child {
      text-wrap: wrap;
    }
  }

  .sticky-expand-square {
    cursor: nwse-resize;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.2rem;
    height: 1rem;
    width: 1rem;
    border-bottom: 2px solid rgb(50, 50, 50);
    border-right: 2px solid rgb(50, 50, 50);
    opacity: 0.5;

    box-shadow: none;
    &:hover,
    &:active {
      opacity: 1;
      border-width: 4px;
    }
  }

  .sticky-color-picker {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;

    opacity: 0.5;
    border: 0;
    padding: 0;

    &:hover,
    &:active {
      opacity: 1;
    }
  }
}
